<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="mastercsvpath" value="C:\Users\cfree\Documents\master.csv" />
    <add key="sa_user" value="we" />
    <add key="sa_pw" value="" />
  </appSettings>
</configuration>